<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}


    </head>
    <body>
        <div class="container">
            <div class="starter-template">
                {% block body %}{% endblock %}
            </div>

            <hr>
            <footer>
                <p>&copy; Dmitry Latyshev, 2017</p>
            </footer>
        </div><!-- /.container -->

        {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
